@font-face {
	font-family: "orkneyRegular";
	src: url(../fonts/Orkney-Regular.otf);
	font-style: normal;
}
html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: 'orkneyRegular';
}
a {
  text-decoration: none;
}
* {
  background-color: #d9d9d9;
  color: #292929;
}
code {
  font-family: monospace;
}
