$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

.mainContainer {
  display: grid;
  align-items: center;
  justify-content: center;
}
.textContainer {
	margin: 1rem;
}
.titleTextSmall {
	margin: auto;
  font-size: 6rem;
}
.titleTextLarge {
	margin: auto;
  font-size: 10rem;
}
.linkListContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin-top: 3rem;
  justify-items: center;
}
.linkList {
  font-size: 3.3rem;
}
.paragraphText {
	margin: auto;
  font-size: 5rem;
}

@include sm {
}

@include md {
}

@include lg {
}

@include xl {
}
